<h1>Equipment</h1>

<div class="howtoplay">
<img src="../../../../assets/images/equip.jpg" width="50%" height="50%" style="margin-left:320px;">
<hr>
<p>⚽ Having the basic equipment such as cones and a soccer bag full of balls is essential for a good for a practice, but if you want to add a little more the better the practices will be.</p>
<p>⚽ Click <a href="https://www.networldsports.com/soccer/soccer-training-equipment" target="_blank" style="text-decoration: none; color: rgb(80, 77, 77);"><u>here</u></a> for equipment.</p>
<hr>
</div>