<h1>Drills</h1>

<div class="howtoplay">
<img src="../../../../assets/images/drills.jpg" width="50%" height="50%" style="margin-left:320px;">
<hr>
<p>⚽ Choosing the right drills and showcasing them to your team is either make or break when it comes to the teams success.</p>
<p>⚽ The foundation of how a team performs is the technicality and efficiency of the drills.</p>
<p>⚽ Certain days you can focus on shooting, passing, or game play such as how how formation will work during a game.</p>
<p>⚽ Most of the time it is good to include a little game or scrimmage at the end so the players can have a little fun, and implement the stuff they practiced within the game or scrimmage.</p>
<p>⚽ Click <a href="https://www.soccerxpert.com/drills" target="_blank" style="text-decoration: none; color: rgb(80, 77, 77);"><u>here</u></a> for example drills</p>
<hr>
</div>