<h1>Planning</h1>

<div class="howtoplay">
<img src="../../../../assets/images/planning.png" width="50%" height="50%" style="margin-left:320px;">
<hr>
<p>⚽ Planning is very important when it come to keeping the team organized and successful.</p>
<p>⚽ Be sure to have a plan of what drills you will be doing with the team throughout the week.</p>
<p>⚽ Make sure to stay on schedule and keep in mind who will be starting in the next game and who will be on the bench.</p>
<p>⚽ Click <a href="https://www.canva.com/create/personal-planners/" target="_blank" style="text-decoration: none; color: rgb(80, 77, 77);"><u>here</u></a> for an online planner</p>
<hr>
</div>