<h1>Recruitment</h1>
<div class="technique">
    <img src="../../../../assets/images/recruit.jpg" width="50%" height="50%" style="margin-left:320px;">    
    <hr>
    <p>⚽ Once you feel confidant in your playing ability, now it is the time to show the world what you got.</p>
    <p>⚽ Getting recruited to play for youth clubs can be achieved by attending tryouts or kick-arounds, these are primarily available in the summer, a few can be offered in the spring.</p>
    <p>⚽ If you are wanting to play college, while you are in highschool make sure to build connections with the college coaches overtime to have them come out to a couple of games and check you out. Below are some tips for college soccer to get you started.</p>
    <p><iframe width="400" height="400" src="https://www.youtube.com/embed/yjrZ352elXc" autoplay=1></iframe></p>
    <hr>
    </div> 