<h1>Technique</h1>

<div class="technique">
<img src="../../../../assets/images/tech.jpg" width="50%" height="50%" style="margin-left:320px;">
<hr>
<h3><b><u>PASSING:</u></b></h3>
<p>⚽ When passing, primarily the inside of the foot is used to get the ball to your teammate.</p>
<p>⚽ Short to medium range passes are best played by using the inside of the foot. Long range passes are best used by the top of the
    foot(laces of your shoes), while leaning back to be able to cover the distance.</p>
    <p><iframe width="400" height="400" src="https://www.youtube.com/embed/fCanpKMKwUI" autoplay=1></iframe></p>
    <hr>
<h3><b><u>SHOOTING:</u></b></h3>
<p>⚽ When shooting it is best to use the part of the foot between the big toe and top of your foot, to achieve power.</p> 
<p>⚽ Make sure your kicking knee and your chest is over the ball to achieve more power.</p>
<p>⚽ Your other foot known as your aiming foot, is used to help with the trail the ball takes when you kick it. Position your aiming foot along with your hips in the direction towards your destination to achieve better accuracy. </p>
<p><iframe width="400" height="400" src="https://www.youtube.com/embed/2wHXqTqVPFo" autoplay=1></iframe></p>
<hr>
</div>
<h3><b><u>DRIBBLING:</u></b></h3>
<p>⚽ When dribbling with the ball make sure you practice moving slowly and keeping the ball close your your body by lightly tapping the ball with primarily your small toe. Once you can do that comfortable continue to speed up while keeping the ball close to your feet.</p>
<p>⚽ Make sure to bend the knees a little bit when you are dribbling, do not want to be stiff.</p>
<p>⚽ Chest should be slightly leaned forward to be more able to switch direction quickly.</p>
<p><iframe width="400" height="400" src="https://www.youtube.com/embed/70k5fJ4A_6g" autoplay=1></iframe></p>
<hr>