<h1>Fitness</h1>
<div class="technique">
    <img src="../../../../assets/images/fitness.jpg"   width="50%" height="50%" style="margin-left:320px;">
    <p>⚽ Fitness is a very important aspect of soccer. This primarily consists of your cardiovascular endurance(running, agility), muscle, and eating healthy.</p>
    <hr>
    <h3><b><u>CARDIOVASCULAR ENDURANCE:</u></b></h3>
    <p>⚽ In an 90 minute game an average player covers a total distance of 7 miles, to be able to keep up a player must practice their endurance. Doing drills that require running and a quick change of direction will improve your endurance to that of a pro.</p>
    <p><iframe width="400" height="400" src="https://www.youtube.com/embed/aFb8JUMramg" autoplay=1></iframe></p>
    <hr>
    <h3><b><u>MUSCLE:</u></b></h3>
    <p>⚽ Having muscle can help allot with the aggressiveness that is involved with the game. You will be able to stay on your feet allot more without getting easily knocked down.</p>
    <p>⚽ Certain work outs can not only help you stay up on the field but also increase your speed and agility.</p>
    <p><iframe width="400" height="400" src="https://www.youtube.com/embed/rSZ0bWUHLQw" autoplay=1></iframe></p>
    <hr>
    <h3><b><u>EATING HEALTHY:</u></b></h3>
    <p>⚽ Eating the right foods can make you more efficient during games and practices. The better you eat the better you will feel.</p> 
    <p>⚽ Get the right amount of each nutrient such as carbohydrates, proteins, vitamins.</p>
    <p><iframe width="400" height="400" src="https://www.youtube.com/embed/jCdTxouGAic" autoplay=1></iframe></p>
    <hr>
    </div>
    