<h1>Personality</h1>

<div class="howtoplay">
<img src="../../../../assets/images/coach.jpg" width="50%" height="50%" style="margin-left:320px;">  
<hr>
<p>⚽ With any team you want the players to be happy with their coach, you do not want conflicts or problems among the team.</p>
<p>⚽ Being flexible and welling to help the players when they are down is key.</p>
<p>⚽ Make sure everyone should feel included, do not show favoritism among the players. Make sure they all feel as they are equal.</p>
<p>⚽ Maybe have activities as a team outside of soccer to have the overall chemistry and moral of the team be higher.</p>
<p>⚽ Although during practice you would want to be serious most of the time, do not be afraid to show a little fun as it will make the players wan to play soccer more and be apart of your team.</p>
<p>⚽ Do not be afraid to ask the players for assistance on what could be done better when the team is falling. Communication between these times can make the team strong and better as a whole.</p>
<p>⚽ Make sure the players are given time to ask questions, and if they are struggling with drills regroup and talk about how to fix it as a team.</p>
<hr>
</div>