<h1>Skill</h1>
<div class="technique">
    <img src="../../../../assets/images/skill.jpg" width="50%" height="50%" style="margin-left:320px;">  
    <p>Skill can be obtained by practicing consistently. There are many areas of skill in soccer that can be achieved.</p>
    <hr>
    <h3><b><u>JUGGLING:</u></b></h3>
    <p>⚽ Juggling or keepy ups, is done by keeping he ball in the air consecutively without dropping it. This is primarily done by hitting the ball from underneath by using the top of your foot. This can be very tricky at first, but the more you practice the easier it will get. Soon you will be able to move on to freestyle which is a more advanced technique of juggling by not only using your feet but also using other parts.</p>
    <p><iframe width="400" height="400" src="https://www.youtube.com/embed/JoHKbd5YG80" autoplay=1></iframe> 
    <iframe style="margin-left: 100px;" width="400" height="400" src="https://www.youtube.com/embed/ohPaEy20qJE" autoplay=1></iframe> </p>
    <hr>
    <h3><b><u>ADVANCED DRIBBLING:</u></b></h3>
    <p>⚽ After successfully being able to dribble, you can move on to doing moves while dribbling. These advanced moves can be able to trick your opponents in one on one situations, and allow you to score more goals</p>
    <p><iframe width="400" height="400" src="https://www.youtube.com/embed/1sr8zc8nP9Y" autoplay=1></iframe></p>
    <hr>
    <h3><b><u>ADVANCED SHOOTING:</u></b></h3>
    <p>⚽ Shooting skills can get you more goals if you have mastered them. Making the ball curve or bend can confuse the goalkeeper and cause the ball to go into the goal.</p>
    <p>⚽ These skills are achieved by slightly altering the way you shoot a ball normally.</p>
    <p><iframe width="400" height="400" src="https://www.youtube.com/embed/vR2Grj1f0VE" autoplay=1></iframe></p>
    <hr>
    <h3><b><u>ADVANCED PASSING:</u></b></h3>
    <p>⚽ With passing skill , much like shooting skills, can be done be slightly altering the place of where the ball is kicked to either achieve a little curve, or to drive the ball with more power to your teammate.</p>
    <p><iframe width="400" height="400" src="https://www.youtube.com/embed/LbIfVWZpD4A" autoplay=1></iframe></p>
    <hr>
    </div>
    
    
