<h1>Planning</h1>
<div class="technique">
    <img src="../../../../assets/images/planning.png" width="50%" height="50%" style="margin-left:320px;">
    <hr>
    <p>⚽ Planning your practices and workouts can be a great supplement to your progression as a player. Writing down your plans is a great way to start.</p>
    <p>⚽ Click <a href="https://www.canva.com/create/personal-planners/" target="_blank" style="text-decoration: none; color: rgb(80, 77, 77);"><u>here</u></a> for an online planner</p>
    <hr>
    </div>
    