<h1>Positioning</h1>
<div class="technique">
    <img src="../../../../assets/images/pos.png" width="50%" height="525px" style="margin-left:320px;"> 
    <p>⚽ Picking a position is based on your playing style find one that you feel most comfortable ith in a game. It is also valuable to being able to play more than one position as coaches will look at you to be more.</p>
    <hr>
    <h3><b><u>GOALKEEPER:</u></b></h3>
    <p>⚽ As a GoalKeeper your main job is to keep the ball from going in the goal. You will need to be fearless and be able to dive, catch, quick, and be aggressive. Great goalkeepers are versatile, able to save any ball coming at them.</p>
    <p>⚽ As a goalkeeper you will need to be a smart to where you will kick or throw the ball, maybe to possible get it out of danger, or to play a quick counter attack to your teammates.</p>
    <hr>
    <h3><b><u>DEFENDER:</u></b></h3>
    <p>⚽ The basic positions of a defender is left, right, center. This position usually has 4-5 players. These can be altered a little depending on the formation of team.</p>
    <p>⚽ You are the last person back in this position, you must not allow any balls to be shot at your goalkeeper</p>
    <p>⚽ You must stay attentive to where other players are at, must be aggressive, and be able to clear any ball in your defensive area when there is great danger of the opponent scoring.</p>
    <p>⚽ In this position you are the primarily a connector between the goalkeeper and midfielders, and occasionally the forwards.</p>
    <hr>
    <h3><b><u>MIDFIELDER:</u></b></h3>
    <p>⚽ The basic positions of a midfielder is left, right, center. This position usually has 4-5 players. These can be altered a little depending on the formation of team.</p>
    <p>⚽ In this position you are the brains of the game, you are the person that mostly influences the game.</p>
    <p>⚽ This is for those who are not scared of pressure and can deal with any situation that comes there way.</p>
    <p>⚽ Here you are connecting the defense with the forwards, and depending on how good the midfielders are playing, it can have an effect on how many shots are taken by that team.</p>
    <p>⚽ Your passing has to be superior to those around you.</p>
    <p>⚽ Some of the most technical players are placed here.</p>
    <hr>
    <h3><b><u>FORWARD/ATTACKER:</u></b></h3>
    <p>⚽ This position usually contains 2 or 3 players, either 2 center players or 1 center, and 2 wingers(left and right).</p>
    <p>⚽ In this position you are connecting the midfielder to the goal, as you being the middle man, delivering the ball to the net.</p>
    <p>⚽ As a forward you are required to have superior shooting than those others around you, as you are primary the one scoring goals.</p>
    <p>⚽ You must also be smart when making runs to retrieve the ball from your teammates to go and score.</p>
    <p>⚽ Speed, skills and dribbling also have a contribution in this position.</p>
    <hr>
    <p>⚽ More information about each position below:</p>
    <p><iframe width="400" height="400" src="https://www.youtube.com/embed/jVJz8Za-UZI" autoplay=1></iframe></p>
    <hr>
    </div>
    