<h1>Recruitment</h1>

<div class="coachrecruit">
<img src="../../../../assets/images/recruit.jpg" width="50%" height="50%" style="margin-left:320px;">    
<hr>
<p>⚽ Of course without players you can not have a team to build. So picking and choosing the right players that best fit your style of play is key.</p>
<p>⚽ Going to to scouting events such as tryouts, kick-arounds, or college showcases can give you an opportunity to meet players. It is important to know what you want on your team, and not be totally picky, as some players may surprise you in the long end.</p>
<hr>
</div>